* {
    box-sizing: border-box;
}

body {
    background-color: rgb(39, 35, 35);
    display: flex;
    flex-direction: column;
    color:aliceblue;
    align-items: center;
    justify-content: center;
    height: 98vh;
    font-family: Arial, Helvetica, sans-serif;
}

.th1-seat{
    background-color: white;
    height: 12px;
    width: 12px;
    margin: 3px;
    border-radius: 50%;
}

.th1-seat-or{
    background-color: orange;
    height: 12px;
    width: 12px;
    margin: 3px;
    border-radius: 50%;
}

.th1-seat-bl{
    background-color: turquoise;
    height: 12px;
    width: 12px;
    margin: 3px;
    border-radius: 50%;
}

.th1-seat-gr{
    background-color: green;
    height: 12px;
    width: 12px;
    margin: 3px;
    border-radius: 50%;
}

.seat-row{
    display: flex;
}

.film-container {
    margin: 18px 0;
}

.film-container select {
    background-color: white;
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    margin-left: 11px;
    padding: 4px 14px 4px 14px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.seat-chosen {
    background-color: black;
}

.seat-booked {
    background-color: red;
}

.th1-seat-or:not(.seat-booked):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.th1-seat-bl:not(.seat-booked):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.th1-seat-gr:not(.seat-booked):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.seat-status {
    background-color: rgba(104, 100, 100, 0.1);
    padding: 4px px;
    border-radius: 4px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.seat-status li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 9px;
}

.seat-status li small {
    margin-left: 6px;
}

.screen {
    background-color: #fff;
    height: 90px;
    width: 100%;
    margin: 14px 0;
    transform: rotatex(-44deg);
    box-shadow: 0 3px 9px rgba(255, 255, 255, 0.75);
}

.screen-container {
    perspective: 1400px;
}

p.text {
    margin: 4px 0;
}

p.text span {
    color:blueviolet;
}