<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theatre Seat Plan</title>
    <link rel="stylesheet" href="theatre1style.css">
</head>
<body>
    <div class = "film-container">
        <label>Select a movie</label>
        <select id="film">
            <option value="14">Jurassic World Dominion (£14)</option>
            <option value="12">Top Gun: Maverick (£12)</option>
            <option value="15">Doctor Strange in the Multiverse of Madness (£15)</option>
            <option value="11">Downtown Abbey: A New Era (£11)</option>
        </select>
    </div>

    <ul class="seat-status">
        <li>
            <div class="th1-seat"></div>
            <small>N/A</small>
        </li>
        
        <li>
            <div class="th1-seat seat-chosen"></div>
                <small>Seats Selected</small>            
        </li>
        
        <li>
            <div class="th1-seat seat-booked"></div>
            <small>Seats Booked</small>
        </li>
        
    </ul>

    <div class="screen-seat-container">
        <div class="screen"></div>
        
        <div class="seat-row">
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
        </div>

        <div class="seat-row">
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
        </div>

        <div class="seat-row">
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
        </div>

        <div class="seat-row">
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
            <div class="th1-seat or"></div>
        </div>
        

        
        <div class="seat-row">
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
        </div>

        <div class="seat-row">
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
        </div>

        <div class="seat-row">
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
        </div>

        <div class="seat-row">
            
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
            <div class="th1-seat bl"></div>
        </div>
        

        
        <div class="seat-row">
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
        </div>

        <div class="seat-row">
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
        </div>

        <div class="seat-row">
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
        </div>

        <div class="seat-row">
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div class="th1-seat gr"></div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div class="th1-seat gr"></div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div class="th1-seat gr"></div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div class="th1-seat gr"></div>
            <div class="th1-seat gr"></div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
        </div>
        
    </div>
    <br><br>

    <p class="text">
        Seat Selected <span id="count">0</span> for a price of £<span id="total">0</span>
    </p>
    <script src="script.js"></script>
</body>
</html>
