@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0f0f0;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: unset;
}

.admin-appBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}

.page-heading{
    font-family: 'Mochiy Pop P one', sans-serif;
    font-size: large;
    text-align: center;
}
.modal {
        padding-bottom: 1px !important;
    }

.bold {
        font-weight: bold;
      }   
.error_message {
    color:rgb(220, 83, 24);
    font-weight: 50;
    font-style: italic;
    
}

