/* #app {
}

h1 {
  text-align: center;
}

.container {
  width: 600px;
  margin: auto;
}

.grid td {
  width: 80px;
  height: 50px;
  padding: 50px 30px;
  border: 2px solid orange;
  text-align: center;
  float: left;
  margin: 5px;
}

.grid td:hover {
  opacity: .7;
  cursor: pointer;
}

.reserved {
  background: orange;
  color: #fff;
  display: inline-block;
}

.section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.reserved::after {
  content: 'RESERVED'
}

.available::after {
  content: 'AVAILABLE'
}

.available {
  color: #333;
}

li {
  list-style: none;
} */



   
* {
  box-sizing: border-box;
}
/* 
body {
  background-color: rgb(39, 35, 35);
  display: flex;
  flex-direction: column;
  color:aliceblue;
  align-items: center;
  justify-content: center;
  height: 98vh;
  font-family: Arial, Helvetica, sans-serif;
} */

.th1-seat{
  background-color: white;
  height: 12px;
  width: 12px;
  margin: 3px;
  border-radius: 50%;
}

.seat_section {
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.th1-seat-or{
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  margin: 3px;
  border-radius: 50%;
}

.th1-seat-bl{
  background-color: turquoise;
  height: 12px;
  width: 12px;
  margin: 3px;
  border-radius: 50%;
}

.th1-seat-gr{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: green;
  height: 35px;
  width: 35px;
  margin: 3px;
  border-radius: 50%;
}

.seat-row{
  display: flex;
}

.film-container {
  margin: 18px 0;
}

.film-container select {
  background-color: white;
  border: 0;
  border-radius: 4px;
  font-size: 15px;
  margin-left: 11px;
  padding: 4px 14px 4px 14px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.seat-chosen {
  background-color: black;
}

.seat-booked {
  background-color: red;
}

.th1-seat-or:not(.seat-booked):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.th1-seat-bl:not(.seat-booked):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.th1-seat-gr:not(.seat-booked):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.seat-status {
  background-color: rgba(104, 100, 100, 0.1);
  padding: 4px px;
  border-radius: 4px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.seat-status li{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 9px;
}

.seat-status li small {
  margin-left: 6px;
}

.screen {
  background-color: #fff;
  height: 90px;
  width: 100%;
  margin: 14px 0;
  transform: rotatex(-44deg);
  box-shadow: 0 3px 9px rgba(255, 255, 255, 0.75);
}

.screen-container {
  perspective: 1400px;
}

p.text {
  margin: 4px 0;
}

p.text span {
  color:blueviolet;
}

